.adminGroupDetail {
    margin: 10px 10px;
}

.groupInfo {
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0,0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0,0.75);
    padding: 20px;
    margin: 50px 100px;
}

.groupId_CreatedContainer {
    display: flex;
    justify-content: space-between;
}

.groupID {
    display: flex;
    align-items: center;
}

.groupLabelID {
    margin-right: 25px;
    font-weight: 400;
    padding-left: 10px;
}

.groupInputID {
    border-radius: 10px;
    margin-left: 20px;
    width: 300px;
}

.groupCreatedInput {
    margin-left: 20px;
    border-radius: 10px;
    width: 300px;
}

.groupCreatedLabel {
    font-weight: 400;
}

.groupName {
    margin: 20px 10px;
}

.groupNameLabel {
    margin-right: 20px;
    font-weight: 400;
}

.groupNameInput {
    border-radius: 10px;
    height: 40px;
    width: 600px;
}

.groupDes {
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.groupDesLabel {
    font-weight: 400;
    margin-right: 15px;
    padding-left: 10px;
}

.groupDesTextarea {
    margin-left: 15px;
    border-radius: 10px;
    width: 600px;
}

.members {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.membersLabel {
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: 400;
}

// .table-responsive {
//     margin: 0px 110px;
//     width: 80%;
// }

.input-group {
    margin-top: -30px;
}

.buttonAction {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.btnSave {
    margin-left: 10px;
}