.background__color {
  background-color: #f2f4f6;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: Inter,sans-serif;
  font-weight: 500;
}

label {
  font-weight: 500;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.d-flex-basis-100 {
  flex-basis: 100%;
}